# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/lib
/lib64
/bin
/bin64
/chord/obj
/chord/obj64

# For Microsoft Visual C++
*.suo
*.sdf
*.opensdf